@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<br>
<br>
<div>
    <p>
        Proszę sprawdzić swój email, żeby zresetować hasło.
    </p>
</div>

